*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/**********************************************************************************************************
Recent_project
**********************************************************************************************************/
.recent_project
{

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap; 
  box-shadow: 4px 4px 4px 4px gray;
  box-sizing: border-box;
  background-color: #ebecf0;
}

.recent_box
{
  margin-top: 30px;
  width: 29%;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 2%;
  box-shadow:  -5px -5px 10px rgba(255,255,255,0.8),
  5px 5px 15px rgba(0, 0, 0, 0.155), 
  inset -2px -2px 6px rgba(255,255,255,0.8), 
  inset 2px 2px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border-radius: 5%;
  
}

.recent_box:hover{
  box-shadow: inset -4px -4px 10px rgba(255,255,255,0.8), 
	            inset 4px 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.image-project
{
    
    width: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 170px;
    margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid gray;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;

}

.image-project:before
{
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 180%;
	  height: 100%;
	  width: 100%;
	  background: rgba(255,255,255,.3);
	  z-index: 1;
}

.image-project:hover:before
  {
	  left: -180%;
  }

  .image-project #pro_img
  {

	 height: 170px;
         width: 100%;
	 filter: scale(100%);
	 transition: 2s;
  }
.image-project:hover #pro_img
  {
	
        filter: scale(5%);
	transform: scale(1.2);
  }

.recent_project_desc
{
  border-top-left-radius: 10%;
}
.recent_project_name
{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}
#recent_pro_title
{
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  color: red;
  margin-top: 10px;
  margin-bottom: 1rem;
}
.recent_project_name
{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}
#proj_breif
{
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1rem;
}
.recent_button{

  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.recent_button #r_btn
{
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    outline: none;
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
    height: 40px;
    padding: 14px 18px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: red;
    font-weight: 700;
    border: 2px solid #333;
    letter-spacing: 2px;
    position: relative;
    transition: all .35s;
}

#r_btn span{
  position: relative;
  z-index: 2;
}

#r_btn:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background:  red;  
  border-radius: 10px;
  transition: all .35s;
}

#r_btn:hover{
  color: #fff;
}

#r_btn:hover:after{
  width: 100%;
}

@media screen and (max-width:768px) 
{
  .recent_project
  {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .recent_box
  {
    width: 80%;
    height: auto;

  }
  
}
